@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>AECC</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a AECC</h2>
        <p>
            Página para gestionar coordinadores y hospitales.
        </p>
    </div>
</div>
